<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Gestión de Alimento: Ayuda</h3>
            <img src="../img/tablaalimento.png" alt="Ventana Gestion de Alimento."/>

            <h4>Descripción general</h4>
            <p>Esta ventana permite realizar las operaciones de mantenimiento 
                básico de los datos de alimento. El usuario podrá mediante los controles
                de los que dispone la ventana crear, modificar y eliminar los alimentos de 
                la aplicación. Así mismo podrá generar un informe que contiene un listado 
                de los alimentos con sus correspondientes datos.</p>
            <h4>Operaciones</h4>
            <strong>Añadir Alimento</strong>
            <p>Para crear un alimento debera pulsa el boton de <strong>Añadir</strong> y sera llevado a otra ventana
                donde podra poner los datos del alimento</p>
            <img src="../img/crearalimento.png" alt="Ventana Gestion de Alimento."/>
            <br/>
            <p>Para crear un alimento tendremos que llenar los campos que nos muestran en esta ventana. Al tener todos los datos puestos,
             podremos darle al boton <strong>Crear</strong>, si hemos puesto los datos correctamente, nos llevara a la ventana de la tabla alimento
              actualizada, es decir con el alimento añadido. Tambien tenemos un boton de <strong>Volver</strong>, donde te llevara
              a la ventana Tabla Alimento.
            </p>
            <strong>Modificar datos de Alimento</strong>
            <p>Para modificar los datos de un alimento primero deberá seleccionar el alimento 
                haciendo click en una fila deseada de la tabla de alimentos.Luego tendremos que pulsar el boton de 
                <strong>Añadir</strong> y no llevara a otra ventana donde nos aparece los datos de alimento en sus campos
                correspondientes.
            </p>
            <img src="../img/anadiralimento.png" alt="Ventana Gestion de Alimento."/>
            <br/>
            <p>
                En esta ventana, los campos  estaran con los datos correspondientes. Podremos modificar sus caracteristicas, pero menos su nombre
                y su ID. Al cambiar los Datos podemos darle al boton <strong>Modificar</strong> para actualizar sus datos. Tambien tenemos la opcion
                del boton <strong>Eliminar</strong>, donde podremos eliminar dicho alimento y por ultimo el boton <strong>Volver</strong> donde nos
                 llevara a la ventana Tabla alimento sin nunguna modificacion.Al realizar  la accion de cada boton satisfactoriamente nos llevara a
                  la ventana Tabla Alimento
            </p>

            <strong>Filtrar datos de Alimento</strong>
            <p>Para filtrar los datos de un alimento primero deberá seleccionar un campo que dispone en la ventana,tenemos 5 campos
                a seleccionar, nombre, menor, mayor, entre y tipo; tambien hay una opcion de que caracteristica de alimento quieres filtrar;
                esa opcion es para los campos que contengan numeros. La busqueda va en serie, si escribes en el primer campo, te buscara 
                segun lo que pongas en el campo, pero si escribes en el primer campo y en el segundo; la busqueda que te hara sera solo del
                primer campo. Al seleccionar y introducir los datos que queremos buscar, podremos darle al boton <strong>Filtrar</strong> y nos
                buscara segun lo que hemos puesto en el campo. Si tienes los campos vacios y le das al boton <strong>Filtrar</strong>, te buscara 
                todos los datos de la tabla Alimento.
            </p>
            <strong>Imprimir listado de Alimento</strong>
            <p>Pulsando el botón <strong>Informe</strong> se abrirá una ventana donde se puede ver un documento
                que contiene un listado de los alimentos que existen en la aplicación:<br><br>
                <img src="../img/informe.png" alt="Ventana de informe de usuarios"/><br><br>
                <br/>            

                Mediante los botones de la parte superior de la ventana podrá imprimir o almacenar dicho informe.</p>
            <strong>Salir de la aplicación</strong>
            <p>Pulsando el botón <strong>X</strong> se cerrará la aplicación.</p>
            <strong>Ayuda</strong>
            <p>Pulsando el botón <strong>Ayuda</strong> verá este documento de ayuda.</p>
        </div>
    </body>
</html>