<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Hlp page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Busqueda de dietas: Ayuda</h3>
            <h4>Botones</h4>
            <strong>Filtrar</strong>
            <p>Esta venta tiene una serie de filtros los cuales solo pueden usarse
                individualmente. Una vez rellene algun campo o seleccione alguna opcion
                pulsara el boton filtrar y se mostraar en la tabla las dietas filtradas
                en funcion de lo que haya seleccionado. Al realizarse el filtro solo podra
                modificar el campo por el cual se filtra, para poder realizar un filtrado
                por un dato diferente tendra que pulsar resetear.
            </p>
            <strong>Resetear</strong>
            <p>Sirve para deshacer el filtrado y habilitar los campos deshabilitados el filtrar.                          
            </p>
            <strong>Crear</strong>
            <p>Abrira la enta de creacion de dietas donde podra introducir los datos para crear
            una nueva dieta
            </p>
            <strong>Borrar</strong>
            <p>El boton borrar se mantendra deshabilitado hasta que se seleccione alguna dieta 
                de la tabla. En el momento que pulse el boton borrar se eliminara la dieta y se
                cargara la tabla de nueve sin dicha dieta
            </p>
            <strong>Modificar</strong>
            <p>El boton modificar se mantendra deshabilitado hasta que se seleccione alguna dieta 
                de la tabla.En el momento que lo pulses te levara a la ventana de modificacion con
                los datos de la dieta seleccionada y podra modificarlos.
            </p>
            <strong>Informe</strong>
            <p>Se abrirá una ventana donde puede ver un documento que contiene un listado de las 
                dietas que existen en la aplicación.
            </p>
            <strong>Volver</strong>
            <p>Volvera a la ventana anterior
            </p>
        </div>
    </body>
</html>
